@import "tailwindcss";

@theme {
  --color-primary: #030712;
  --color-secondary: #1D293D;
  --color-color: #00DC82;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

section {
  scroll-margin-top: 90px;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #030712;
}

::-webkit-scrollbar-thumb {
  background: #00DC82;
  border-radius: 999px;
}
